

body {
    padding: 50px;
    font-size: 30px;
}

.definition{
    padding-left: 50px;
}

.button{
    margin-top: 50px;
    font-size: 25px;
    width: 150px;
    height: 50px;
}

.nextButtonBlock{
    padding-left: 20px;
}
.button:hover{
    color: white;
    background-color: black;
}

.id{
    margin-bottom: 20px;
}

.nextButton{
    margin-top: 20px;
    font-size: 25px;
    width: 250px;
    height: 50px;
}

.startButton{
    margin-top: 20px;
    font-size: 25px;
    width: 250px;
    height: 50px;
}

.completed {
    margin-bottom: 30px;
}

.main{
    margin: 10px;
    border: 2px solid #000;
    box-shadow: 0 0 5px black;
    background-color: rgb(187, 176, 176);
}

.root{
    padding-left: 20px;
}

.button-box{
    padding: 0px 0px 10px 10px;
}

.answer-block{
    /* position: absolute; */
    top: 300px;
    left: 500px;
    border: 5px solid green;
    width: 1000px;
    height: 110px;
}